altgraph==0.17
auto-py-to-exe==2.7.8
beautifulsoup4==4.9.1
bottle==0.12.18
bottle-websocket==0.2.9
certifi==2020.6.20
cffi==1.14.2
chardet==3.0.4
cryptography==3.1
docopt==0.6.2
Eel==0.12.4
future==0.18.2
gevent==20.6.2
gevent-websocket==0.10.1
greenlet==0.4.16
idna==2.10
Js2Py==0.70
MouseInfo==0.1.3
packaging==20.4
pefile==2019.4.18
Pillow==7.2.0
pipwin==0.5.0
PyAutoGUI==0.9.50
PyAudio=0.2.11
pycparser==2.20
PyGetWindow==0.0.8
pyinstaller==4.0
pyinstaller-hooks-contrib==2020.7
pyjsparser==2.7.1
PyMsgBox==1.0.8
pyparsing==2.4.7
pyperclip==1.8.0
PyPrind==2.11.2
PyRect==0.1.4
PyScreeze==0.1.26
pySmartDL==1.3.3
PyTweening==1.0.3
pytz==2020.1
pywin32-ctypes==0.2.0
requests==2.24.0
six==1.15.0
soupsieve==2.0.1
tzlocal==2.1
urllib3==1.25.10
whichcraft==0.6.1
zope.event==4.4
zope.interface==5.1.0
